{% extends "new/base2.html" %}
{% set current_section = "home2" %}
{% set body_class = "impact_header" %}

{% block main %}
        <!-- Content  -->
		<section id="content">

			<div class="content-wrap">

				<div id="login" class="container clearfix">

					<div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">
              {% if SESSION.get('env-password') == 1 %}
                 <script>
                  swal({
									  title: "¡OK!",
									  text: "¡Por favor revise la bandeja de entrada o la carpeta de SPAM de su correo electrónico para su cambio de contraseña!",
									  type:"success",
									  confirmButtonText: "Cerrar",
									  closeOnConfirm: false
									},

									function(isConfirm){

										if(isConfirm){
											history.back();
										}
								});
                 </script>
              {% endif %}
                
            <div class="acctitle">Escribe tu correo electrónico para recuperar tu contraseña.</div>
						<div class="acc_content clearfix">
							<form id="login-form" name="login-form" class="nobottommargin" action="{{ path_for('send-password', {'lang':LANG}) }}" method="post">
								<div class="col_full">
									<label for="login-form-username">Email</label>
									<input type="email" id="password-email" name="password-email" value="" class="form-control" />
                </div>
                <div class="col_full nobottommargin">
									<button class="button button-circle button-border button-brown nomargin" id="recover-password-submit" name="recover-password-submit" value="login">Enviar contraseña</button>
								</div>

								
							</form>
						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->
        
        
{% endblock %}
	
	
