{% extends "new/base2.html" %}
{% set current_section = "service" %}
{% set body_class = "impact_header" %}

{% block title %}{{ T['service'] }}{% endblock %}
{% block description %}{{ T['seo-myaccount-description'] }}{% endblock %}

{% block main %}	
	<div class="clear"></div>
        
		<!-- Content-->
		<section id="content" class="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="ctr-1200 mt-n4">
							<div class="header-title">
								<h2>Servicio al cliente</h2>
							</div>
                            
                        
                        
					</div>
				</div>

			</div>

		</section>
{% endblock %}

{% block js %}
	
{% endblock %}