@import "mixins";
%transition { transition: all .4s ease-in-out; }
%fast-transition { transition: all .3s ease-in-out; }
%slow-transition { transition: all .6s ease-in-out; }
%opacity-transition { transition: opacity 0.3s ease-in; }

%common-flex { 
  @include vendor-value-prefix("display","flex");
  @include vendor-prefix("align-items","center");
  @include vendor-prefix("justify-content","center");
  @include vendor-prefix("flex-direction","column");
}

%clearfix-after {  
  content: '  ';
  clear: both;
  display: block;
  height: 1px;
  overflow: hidden;
}

%reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%common-bg {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

%trunk-text {
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

%common-text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}
