@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin vendor-value-prefix($name, $argument) {
  #{$name}: -webkit-#{$argument};
  #{$name}: -ms-#{$argument};
  #{$name}: -moz-#{$argument};
  #{$name}: #{$argument};
}

@mixin background-linear-gradient($from,$to,$direction) {
   background: #{$from};
   background: -webkit-linear-gradient(#{$direction}, #{$from}, #{$to});
   background: -o-linear-gradient(#{$direction}, #{$from}, #{$to});
   background: -mox-linear-gradient(#{$direction}, #{$from}, #{$to});
   background: linear-gradient(#{$direction}, #{$from}, #{$to});
}

@mixin opacity($alpha) { filter: alpha(opacity=$alpha); opacity: $alpha/100; }

@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }   
  @-o-keyframes #{$animation} {
    @content;
  }   
  @keyframes #{$animation} {
    @content;
  }
}
 
@mixin breakpoint($point) {
  @if $point == portrait  {
     @media screen and (orientation: portrait) and (max-width: 767px) { @content ; }
  }
  @if $point == landscape  {
     @media screen and (orientation: landscape) { @content ; }
  }
  @else if $point == s  {
     @media screen and (min-width: 451px) { @content ; }
  }
  @else if $point == m {
     @media screen and (min-width: 768px) { @content ; }
  }
  @else if $point == l {
     @media screen and (min-width: 1001px) { @content ; }
  }
  @else if $point == xl {
     @media screen and (min-width: 1280px) { @content ; }
  }
}

