{% extends "website/base.html" %}
{% set current_section = "carrito" %}

{% block title %}{{ T['carrito'] }} | {{ T['title'] }}{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading cabeceraCarrito">
          <div class="col-md-6 col-sm-7 col-xs-12 text-center">
            <h3>
              <small>PRODUCTO</small>
            </h3>
          </div>
          <div class="col-md-2 col-sm-1 col-xs-0 text-center">
              <h3>
                <small>PRECIO</small>
              </h3>
          </div>
          <div class="col-sm-2 col-xs-0 text-center">
              <h3>
                <small>CANTIDAD</small>
              </h3>
          </div>
          <div class="col-sm-2 col-xs-0 text-center">
              <h3>
                <small>SUBTOTAL</small>
              </h3>
          </div>
        </div>

        <!--CUERPO CARRITO-->
        <div class="panel-body cuerpoCarrito">

        </div>

        <div class="panel-body sumaCarrito">
          <div class="col-md-4 col-sm-6 col-xs-12 pull-right well">
            <div class="col-xs-6">
              <h4>TOTAL: </h4>
            </div>
            <div class="col-xs-6">
              <h4 class="sumaSubTotal">
                <strong>USD $<span>10</span></strong>
              </h4>
            </div>
          </div>
        </div>

        <div class="panel-heading cabeceraCheckout">
          <button class="btn btn-default btn-lg pull-right">PAGAR</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}