{% extends "website/base.html" %}
{% set current_section = "collections" %}
{% set header_subtitle = T['configurator'] %}
{% set body_class = 'configurator_page' %}

{% block title %}{{ currentCollection.name }} | {{ T['configurator'] | capitalize }} {{ T['title'] }}{% endblock %}
{% block description %}{{ currentCollection.description | length > 150 ? currentCollection.description | slice(0, 150) ~ '...' : currentCollection.description }}{% endblock %}

{% block js %}
  <script src="https://s3.amazonaws.com/shapediverviewer/v2/2.0.8/sdv.concat.min.js" defer></script>
  <script src="{{ STATIC_PATH }}js/configurator.js?v2=28"></script>
	<script src="{{ STATIC_PATH }}bower_components/featherlight/release/featherlight.min.js"></script>

  <script>
    var selectLabel = '{{T['r3-select']}}';

    var textures = {
    {% for texture in textures %}
      '{{texture.shapediver_label}}': {
        image: '{{ MEDIA_PATH }}images/textures/{{texture.image}}',
        value: '{{texture.shapediver_position}}',
        label: '{{texture.name}}'
      },
    {% endfor %}
    };
    var paramDefs = {
    {% for param in paramDefinitions %}
      '{{param.shapediver_label}}': '{{param.name}}',
    {%endfor%}
    };
    var partDefs = {
    {% for part in partDefinitions %}
      '{{part.shapediver_label}}': '{{part.name}}',
    {%endfor%}
    };

    {% if params!='' %}  
    var designParameters = {{ params | raw }};
    {% endif %}
  </script>
{% endblock %}

{% block css %}
  <link href="{{ STATIC_PATH }}bower_components/featherlight/release/featherlight.min.css" rel="stylesheet" media="all">
{% endblock %}

{% block main %}
  <div class="configurator">
    {% set collection = currentCollection %}
    {% include 'website/partials/configurator.html' %}
    {%if params!=''%}  
    <input type="hidden" id="configurator__design__params" value="1"/>
    {% endif %}
  </div>
  
  <div class="wrapper other_products">
    <h3>{{ T['products-to-personalize'] }}</h3>
    <ul class="collection_list">
      {% for collection in collections %}<li><a href="{{ path_for('collection', {'lang':LANG,'collectionSlug':collection.slug}) }}" rel="{{ collection.slug }}"><img data-src="{{ MEDIA_PATH }}images/collections/l-{{ collection.image }}" alt="{{ collection.name }}"/><span>{{ T['configure'] }}</span></a></li>{% endfor %}
    </ul>
  </div>

  {% if SESSION.isLogged() %}
    <div id="save_popup" class="popup">
      <div class="form">
        <h4>{{ currentCollection.name }}</h4>
        
        <div class="image_wrapper">
        </div>

        <ul class="design_specs">
          <li><span>{{ T['r2-design-by'] }}</span>{{ SESSION.get('name') }}</li>
          <li><span>{{ T['r2-date'] }}</span>{{ "now"|date("d/m/Y") }}</li>
        </ul>

        <label for="description" class="description_label">{{ T['r2-description'] }}</label>
        <textarea id="description"></textarea>

        <label class="gallery_label">{{ T['r2-add-to-gallery'] }}</label>

        <label class="switch_field">
          <input type="checkbox" checked="checked"/>
          <div class="slider"></div>
        </label>

        <div class="button_wrapper">
          <button id="save_design" class="button">{{ T['r2-add-to-designs'] }}</button>
        </div>
        <input type="hidden" id="media_path" value="{{ MEDIA_PATH }}"/>
        <input type="hidden" id="collection_id" value="{{ currentCollection.id }}"/>
      </div>
      
      <div class="confirmation">
        <div class="title">{{ T['r2-create-design-confirmation'] }}</div>
        <p>{{ T['r2-create-design-confirmation-text'] }}</p>
        
        <a href="{{ path_for('myDesigns', {'lang':LANG}) }}" class="button">{{ T['r2-go-to-my-designs'] }}</a>
        <button class="button close">{{ T['r2-continue-configuring'] }}</button>
      </div>
    </div>
  {% endif %}
  
  <div class="loading_overlay">
    {{ T['r2-add-to-designs-loading'] | nl2br }}
  </div>

{% endblock %}
