{% extends "website/base.html" %}
{% set current_section = "collections" %}
{% set header_subtitle = T['configurator'] %}

{% block title %}{{ T['configurator'] | capitalize }} | {{ T['title'] }}{% endblock %}
{% block description %}{{ T['seo-collection-list-description'] }}{% endblock %}

{% block js %}
	<script src="{{ STATIC_PATH }}bower_components/jquery.cycle2/index.js"></script>
	<script src="{{ STATIC_PATH }}bower_components/jquery.cycle2.swipe.min/index.js"></script>
{% endblock %}

{% block main %}
  <div class="select_collection">
    <div class="wrapper">
      <h3>{{ T['select-a-product'] }}</h3>
      <ul class="collection_list">
        {% for collection in collections %}
        <li>
          <a href="{{ path_for('collection', {'lang':LANG,'collectionSlug':collection.slug}) }}" rel="{{ collection.slug }}">
            <img src="{{ collection.image }}" alt="{{ collection.name }}"/>
            <span>{{ T['configure'] }}</span>
          </a>
        </li>{% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="collection_file">
    {% for collection in collections %}
      <div id="collection_{{ collection.slug }}" class="collection_wrapper">
        <div class="wrapper">
          <h3>{{ collection.name }}</h3>
          <p class="centered_description">{{ collection.description | nl2br }}</p>
        </div>

        <div class="button_wrapper"><a href="{{ path_for('collection', {'lang':LANG,'collectionSlug':collection.slug}) }}" class="button">{{ T['configure-this-collection'] }}</a></div> 
        
        <div class="slideshow_gallery">
          <div class="slideshow_prev"></div>
          <div class="slideshow_next"></div>

          {% for slide in collection.gallery %}
            <div class="slide" style="background-image: url('{{ MEDIA_PATH }}images/collections/{{ slide.file }}');"></div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

