{% extends "website/base.html" %}
{% set current_section = "contact" %}
{% set header_subtitle = T['contact'] %}

{% block title %}{{ T['contact'] }} | {{ T['title'] }}{% endblock %}


{% block main %}
  <div class="wrapper">
    <h3 class="content_title">{{ T['about-you'] }}</h3>

    <div class="form_confirmation">
      <p>{{ T['contact-confirmation'] | nl2br }}</p>
    </div>

    <ul class="form_errors">
      <li id="mail_error">{{ T['error-email'] }}</li>
      <li id="required_error">{{ T['error-required'] }}</li>
    </ul>

    <form id="contact_form" method="post" action="{{ path_for("sendContactForm", {"lang":LANG}) }}">
      <fieldset>
        <input type="text" placeholder="{{ T['name'] }}" name="name" id="name"/>
        <input type="text" placeholder="{{ T['phone'] }}" name="phone" id="phone"/>
        <input type="email" placeholder="{{ T['email'] }}" name="email" id="email"/>
        <select name="area" id="area">
          <option value="...">{{ T['contact-with'] }}</option>
          <option value="{{ T['contact-with-option1'] }}">{{ T['contact-with-option1'] }}</option>
          <option value="{{ T['contact-with-option2'] }}">{{ T['contact-with-option2'] }}</option>
          <option value="{{ T['contact-with-option3'] }}">{{ T['contact-with-option3'] }}</option>
          <option value="{{ T['contact-with-option4'] }}">{{ T['contact-with-option4'] }}</option>
        </select>
        <textarea name="message" placeholder="{{ T['your-message'] }}" id="message"></textarea>

        <button type="submit" class="button">{{ T['send'] }}</button>
      </fieldset>
    </form>

  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var sending_label = '{{ T["sending"] }}';
  </script>
  <script src="{{ STATIC_PATH }}js/contact.js"></script>
{% endblock %}

