{% extends "website/base.html" %}
{% set current_section = "designer" %}
{% set header_subtitle = T['designer'] %}

{% block title %}{{ T['designer'] | capitalize }} | {{ T['title'] }}{% endblock %}

{% block js %}
	<script src="{{ STATIC_PATH }}bower_components/jquery.cycle2/index.js"></script>
	<script src="{{ STATIC_PATH }}bower_components/jquery.cycle2.swipe.min/index.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endblock %}

{% block main %}
<div class="container">
    <div class="row">
      <div class="col-sm">
        <img data-src="{{ designer.image }}" alt="{{ designer.name }}" width="350" height="350"/>
      </div>
      <div class="col-sm">
        {{ designer.name }}
        {{ designer.pais }}
      </div>
      <div class="col-sm">
        {{ designer.description }}
      </div>
    </div>
    <div class="row">
        <div class="select_collection">
            <div class="wrapper">
              <br>
              <h3>{{ T['designs'] }}</h3>
              <ul class="collection_list">
                <hr>
                {% for collection in designerCollections %}
                {{ collection.name }}
                <li>
                  <a href="{{ path_for('collection', {'lang':LANG,'collectionSlug':collection.slug}) }}" rel="{{ collection.slug }}">
                    <img data-src="{{ MEDIA_PATH }}images/collections/l-{{ collection.image }}" alt="{{ collection.name }}"/>
                  </a>                  
                </li>               
                {% endfor %}
              </ul>
            </div>
          </div>
    </div>
  </div>

{% endblock %}

