<!--googleoff: all--> 
<!doctype html>
<html lang="{{ LOCALE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ T['r2-recover-password'] }} | {{ T['title'] }}</title>
    
    <link href="{{ STATIC_PATH }}css/styles.css?v=2-2" rel="stylesheet" media="all">
		<script src="{{ STATIC_PATH }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_PATH }}js/main.js?v=2-2"></script>
    <script src="{{ STATIC_PATH }}js/user.js?v=2-2"></script>
  </head>

  <body class="{{ current_section }} visible_menu" >
    <header class="page_header">
      <div class="wrapper">
        <h1><a href="{{ path_for('home', {'lang':LANG}) }}">{{ T['title'] }}</a></h1>
        
        <button class="menu_btn">MENU</button>

        <ul class="lang_menu">
          {% for l in ['it','es','en'] %}
            {% if l == LANG %}
              <li>{{ l | upper }}</li>
            {% else %} 
              <li><a href="{{ HREFLANG[l]['url'] }}" title="{{ HREFLANG[l]['label'] }}">{{ l | upper }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        
        {% if header_subtitle != '' %}
          <h2>{{ header_subtitle }}</h2>
        {% endif %} 
     
      </div>
    </header>
    
    <nav class="main_menu">
      <div class="wrapper main_view">
        <div class="user_file register">
          <header>{{ T['r2-set-new-password'] }}</header>
          
          <ul class="form_errors">
            <li class="password_error">{{ T['r2-error-password'] }}</li>
          </ul>
          
          <form method="post" action="{{ path_for('setPassword', {'lang':LANG, 'hash': user.hash, 'pepper': user.pepper }) }}">
            <div class="data_wrapper">
              <label for="profile_password">{{ T['r2-new-password'] }}</label>
              <input type="password" name="profile_password" id="profile_password" placeholder="{{ T['r2-new-password'] }}"/> 
            </div>

            <div class="button_wrapper">
              <button class="button" type="submit">{{ T['r2-update-password'] }}</button>
            </div>
          </form>
        </div>
      </div>
      
      <div class="wrapper set_password_confirmation_view">
        <div class="user_file register">
          <div class="form_confirmation">
            <div class="title">{{ T['r2-set-password-confirmation'] }}</div>
            <p>{{ T['r2-set-password-confirmation-text'] }}</p>
          </div>

          <div class="button_wrapper">
            <a href="{{ path_for('home', {'lang':LANG}) }}" class="button">{{ T['r2-continue'] }}</a>
          </div>
        </div>
      </div>
    </nav>
    
    <main class="page_content">
    </main>
  </body>
</html>
<!--googleon: all--> 
