<div class="configurator__viewer configurator__viewer--custom">
  <div class="configurator__viewer__model" rel="{{ collection.shapediver_ticket }}" id="custom-view"></div>
  <div class="configurator__viewer__loading js-custom-model-loading">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>
      
</div>



<div class="configurator__zoom">
    <button class="configurator__zoom__button"></button>
</div>


<!-- <div class="configurator__history">
  <button class="configurator__history__button configurator__history__button--back configurator__history__button--disabled js-configurator-back" disabled></button>
  <button class="configurator__history__button configurator__history__button--forward configurator__history__button--disabled js-configurator-forward" disabled></button>
</div> -->


<div class="configurator__adCard">
    <!-- Boton agregar la carro mobile -->
      
  {% if name_idiom == true %}
  <button type="button" class="configurator__actions__item button addCart movil" nameProduct="{{ collection.name_en }}" idProduct="{{ collection.id }}" image="{{ collection.image }}">{{ T['add-to-cart'] }} 
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </button> 

  <!-- <button type="button" class="configurator__actions__item button export" idProduct="{{ collection.id }}" nameProduct="{{ collection.name_en }}" >Descargar -->
    <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
  <!-- </button>  -->
  {% else %}
  <button type="button" class="button addCart movil" nameProduct="{{ collection.name }}" idProduct="{{ collection.id }}" image="{{ collection.image }}">{{ T['add-to-cart'] }} 
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </button> 

  <!-- <button type="button" class="configurator__actions__item button export" idProduct="{{ collection.id }}" nameProduct="{{ collection.name }}" >Descargar
    <i class="fa fa-download" aria-hidden="true"></i>
  </button> -->
  {% endif %}
      
  <!-- Cierre Boton agregar la carro mobile--> 
</div>

<div class="configurator__overlay-price js-price"></div>

{% if SESSION.isLogged() %}
<div id="agregar-disenos" class="configurator__actions">
  <button class="configurator__actions__item button add_to_my_designs disabled" disabled="disabled" id="add-to-my-designs-btn">{{ T['add-to-my-designs']|convert_encoding('UTF-8', 'ISO-8859-1')  | raw }}</button> 
</div>
{% endif %}

<!--<div class="wrapper"><img src="{{ STATIC_PATH }}/img/rotate.svg" alt="Rotate" class="rotate_icon"></div>-->
<div class="rotate_overlay"><div>{{ T['r3-please-rotate'] }}</div></div>

        
<div class="configurator__controls-wrapper">
    
    
	<div class="configurator__controls-loading">{{ T['r3-loading'] }}<span>...</span></div>
  <div class="configurator__controls">
      
    <div class="configurator__controls__layer configurator__controls__layer--parts">
    {% if name_idiom == true %}
    <div class="titulo_configurator"><h1>{{collection.name_en}}</h1></div>
    {% else %}
    <div class="titulo_configurator"><h1>{{collection.name}}</h1></div>
    {% endif %}
      <div class="part-list-wrapper"><ul class="part-list"></ul></div>
      <p class="configurator__controls__bottom-note">{{ T['r3-select-part'] }}</p>
    </div>
    <div class="configurator__controls__layer configurator__controls__layer--textures">
      {% if name_idiom == true %}
      <div class="titulo_configurator"><h1>{{collection.name_en}}</h1></div>
      {% else %}
      <div class="titulo_configurator"><h1>{{collection.name}}</h1></div>  
      {% endif %} 
      <button class="configurator__controls__layer__back js-back-to-part">{{ T['back']|convert_encoding('UTF-8', 'ISO-8859-1')  | raw }}</button>
        
        
    
        
     
      <h3 class="configurator__controls__layer__title">{{ T['r3-materials'] }}</h3>
      <ul class="texture-list"></ul>
    </div>
    <div class="configurator__controls__layer configurator__controls__layer--params"></div>
  </div>
    
  <div class="configurator__price"><span class="configurator__price__label">{{ T['price'] }}</span> <span class="configurator__price__value configurator__price__value--loading js-price valuePrice">&nbsp;</span>
    
    
    <!-- Boton agregar la carro -->
      
      
    {% if name_idiom == true %}
  <button type="button" class="configurator__actions__item button addCart" nameProduct="{{ collection.name_en }}" idProduct="{{ collection.id }}" image="{{ collection.image }}">{{ T['add-to-cart'] }} 
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </button> 

  <!-- <button type="button" class="configurator__actions__item button export" idProduct="{{ collection.id }}" nameProduct="{{ collection.name_en }}" >Descargar -->
    <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
  <!-- </button>  -->
  {% else %}
  <button type="button" class="configurator__actions__item button addCart" nameProduct="{{ collection.name }}" idProduct="{{ collection.id }}" image="{{ collection.image }}">{{ T['add-to-cart'] }} 
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </button> 
<!--
 <button type="button" class="configurator__actions__item button export" idProduct="{{ collection.id }}" nameProduct="{{ collection.name }}" >Descargar
    <i class="fa fa-download" aria-hidden="true"></i>
  </button> 
  -->
  {% endif %}
      
  <!-- Cierre Boton agregar la carro -->      
      
  
    
    </div>
</div>   
      



